/* Main color #212121 */
/* secondary color #757575 */
/* link #2196F3 */
/* white #FFFFFF */
/* button #F5F4FA */
/* button text #212121 */
/* colorbackground hero #2F303A */
/* background color  page #F5F5F5 */
/* card #EEEEE*/
/* footer link rgba(255, 255, 255, 0.6); */
/* buttone focus rgba(33, 150, 243, 1) */
/* underline border #ECECEC; */
/* Body */

:root {
    --primary-text-color:#757575;
    --tittle-text-color:#212121;
    --accent-color:#2196F3;
    --white-color: #ffffff;
    --button-backgroung:#F5F4FA;
    --button-text: #212121;
    --background-hero: #2F303A;
    --background-page:#F5F5F5;
    --portfolio-card: #EEEEEE;
    --total-black:#000000;
    --footer-link:rgba(255, 255, 255, 0.6);
    --underline-border:#ECECEC;
    --button-active: #188CE8;
    --border-client:#AFB1B8;
    --client-color:#AFB1B8;
    --footer-social-bg: rgba(255, 255, 255, 0.1);
    --action-color:rgba(47, 48, 58, 0.8);
    --portfolio-link:rgba(33, 150, 243, 0.9);
    --button-backdrope:rgba(0,0,0,0.1);
    --animation-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}
/* ----------Body---------- */
body {
background-color:var(--white-color);
color: var(--primary-text-color);
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
font-size: 14px;
line-height: 1.7;
}

.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;}

/* Прибрати крапки у списках */
.lists {
    list-style: none;
    padding: 0;
    margin: 0;
}


h1,
h2,
h3,
p{
    margin-top: 0;
    margin-bottom: 0;

}
div{
    display: block;
}
/* Прибрати підкреслення */
a{
    text-decoration: none;
}
/* Прибати відступи для img*/

.tittle-hidden{
    position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
     outline: 0;
     outline-offset: 0;
}

.item-tittle {
    font-weight: 700;
     letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}
/* ----------Header---------- */
.header{
    border-bottom: 1px solid var(--underline-border);
    /* padding-left: 0 auto; */

}
/* ----------Logo----------*/
.logo-header{
  display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
     line-height:1.8;
     color: var(--total-black);

}
.logo-accent{
    color: var(--accent-color);
}
/* ----------Site nav---------- */
.nav{
 display: flex;
 align-items: center;   
}
.main-nav{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.site-nav{
    position: relative;
    display: flex;
    margin-left: 93px;
}

.site-nav .item + .item{
    margin-left: 50px;
}

.site-nav .list{
    padding: 0px;



}
.site-nav .item{
    display: flex;
}
.site-nav .link {
    position: relative;
    transition: color 250ms var(--animation-timing-function);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--button-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    
}
    .site-nav .link:hover,
    .site-nav .link:focus,
     {
        color: var(--accent-color);
    }
        .site-nav .site_nav_active {
            color: var(--accent-color);
        }
     .site_nav_active::after{
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        top: 77px;
        bottom: auto;

    }
      .contacts-lists{
        display: flex;
        margin-left: auto;

      }
      .contacts-lists .icon-header{
        fill: currentColor;
        margin-right: 10px;
      }
      .contacts-lists .icon-header:hover,
       .contacts-lists .icon-header:focus{
       color:var(--accent-color)
    }
      .contacts-lists .item +.item{
        margin-left: 50px;
      }
         .contacts-lists .link {
            transition: color 250ms var(--animation-timing-function);
            display: flex;
          color: var(--primary-text-color);
            font-weight: 500;
            font-size: 14px;
            line-height: 1.17;
           align-items: center;
    }
    .contacts-lists .link:focus,
    .contacts-lists .link:hover,
    .contacts-lists .link:active
    {
        color: var(--accent-color);
    }
        /* ----------Button----------*/
        .button {
            border-radius: 4px;
            border: none;
            display: inline-block;
            padding: 10px 32px;
            min-width: 216px;
            font-family: inherit;
            color: var(--white-color);
            cursor: pointer;
            background-color: var(--accent-color);
            align-items: center;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: 0.06em;
            

        }
            
        .button:hover,
        .button:focus{
            background-color: var(--button-active);
        }
    /* ----------Hero---------- */
    .hero {
        background-color: var(--background-hero);
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
        url(../images/hero.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
            
    .hero-tittle {
        margin: auto;
        margin-bottom: 30px;
        color: var(--white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: 696px; 

    }

/* ----------Section tittle---------- */
.section-tittle {
    color: var(--tittle-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        margin-bottom: 50px;
           
}

/* ----------Features---------- */
.features{
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list .tittle {
    color: var(--tittle-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.7;  
        margin-top: 0;

}
.features-list{
    display: flex;
    justify-content: space-between;
}
.features-list .item{
    width: 270px;
}
.features-list .item:not(:last-child){
    margin-right: 30px;
}

.features-list .text {
    margin-top: 10px;
}
.features__svg-container{
    display: flex;
    background-color: var(--button-backgroung);
    border-radius: 4px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}
/* Tasks */
 .task{
    padding-top: 0;
    padding-bottom: 94px;

}
.task-list{
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 36px;
    line-height: 1.17;
    
    justify-content: space-between;
}
/* .task-list.img{
    position: relative;
} */
.task-list .img:not(:last-child){
    margin-right: 30px;
}
.action{
    position: relative;
}

.action-tittle{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--action-color);
    
   


}
/* Team */


.team-section{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--button-backgroung);

}


 
.team-list .tittle {
    color: var(--tittle-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
    text-align: center;
}
.team-list{
display: flex;
flex-wrap: wrap;
}
.team-list .team-card:not(:last-child){
    margin-right: 30px;
}

.team-card{
width: 270px;
 box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
 border-radius: 0px 0px 4px 4px;
 background-color: var(--white-color);
 text-align: center;
 

}
.team-list .name {
    margin-bottom: 10px;
 text-align: center;
 color: var(--tittle-text-color);
 font-weight: 500;
  font-size: 16px;
 line-height:1.17 ;

}
.team-text{
 padding: 30px 32px;

}
.team-list .text{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.17;

    
}
.team-card .img{
    display: block;
   
}
.lists .icon-flex {
    display: flex;
    justify-content: center;
}

.icon-soc {
    fill: currentColor;
}

.icon-team {
transition: background-color 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    color: var(--border-client);
    background-color: var(--white-color);
}

.social-links__item:not(:last-child) {
    margin-right: 10px;
}

.icon-team:focus,
.icon-team:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* Clients */
.client{
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-tittle{
    font-style: normal;
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color:var(--button-text);
}
.client-svg{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}
.icon-client {
    fill:currentColor;
}
.client-box{
    transition: color 250ms var(--animation-timing-function), border-color 250ms var(--animation-timing-function);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 170px;
    border: 1px solid var(--border-client);
    border-radius: 4px;
    color: var(--client-color);
    
}
.client-box:focus,
.client-box:hover{
    color: var(--accent-color);
    border-color: var(--accent-color);
}
/* Footer */
.logo-footer{
    display: inline-block;
     margin-bottom: 20px;
    font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.8;
        color: var(--white-color);
}
.footer {
        padding-top: 60px;
            padding-bottom: 60px;
    background-color: var(--background-hero);
}

.footer-list .link {
        transition: color 250ms var(--animation-timing-function);
        font-size: 14px;
        line-height: 1.17;
        font-style: normal;
        color: var(--footer-link);
       
    
}
.footer-list .item:not(:last-child){
    margin-bottom: 9px;
}
.footer-list .address{
    color: var(--white-color);
    margin-bottom: 9px;
}
.footer-list .link:hover,
.footer-list .link:focus,
.footer-list .link:active {
    color: var(--white-color);
    
}
.footer-box{
    width: 270px;
    margin-bottom: 0;
    margin-right: 94px;
}
.join{
    font-size: 14px;
    line-height: 1.14;
    color: var(--white-color);
    margin-bottom: 20px;
}
.icon-join{
    display: flex;
    color: var(--white-color);
}
.icon-join .icon:not(:last-child){
        margin-right: 10px;
        
}
.icon-team-footer{
    display: flex;
    color: var(--white-color);
}
.footer-conteiner {
    display: flex;
    align-items: baseline;
}

.footer-soc-link {
    margin-bottom: 0;
    margin-right: 94px;
}

.footer-logo {
    margin-bottom: 0px;
    margin-right: 69px;
}

.join {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.14;
}

.icon-team-footer {
    transition: background-color 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function);
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--footer-social-bg);
}

.icon-join {
    fill: currentColor;
}

.icon-team-footer:focus,
.icon-team-footer:hover {
    background-color: var(--accent-color);
}
/* ----------------------Portfolio---------------------- */

.portfolio-section{
    padding-top: 94px;
        padding-bottom: 94px;
}


.portfolio-nav{
    display: flex;
        justify-content: center;
        margin-bottom: 50px;
}
.portfolio-nav .item:not(:last-child){
    margin-right: 8px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

}
/* .portfolio-list .link:hover,
.portfolio-list .link:focus,
.portfolio-list .link:active {
    color:var(--button-text);
    background-color: var(--accent-col);

} */
.portfolio-nav .button{
    transition: background-color 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function);
 padding: 6px 22px;
 min-width: 73px;
    background-color: var(--button-backgroung);
    color: var(--button-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    
}
.portfolio-nav .button:focus,
.portfolio-nav .button:hover{
background-color: var(--accent-color);
color: var(--white-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.portfolio-list .card {
flex-basis: calc((100% - 3 * 30px) / 3);
margin: 10px;
background: var(--white-color);
}
.port-link{
    transition: box-shadow 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function);
    display:block;
}
 .port-link:focus,
 .port-link:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .tittle{
margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--button-text);
}
.portfolio-list .text{
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: var(--primary-text-color);

}
.line-portfol{
padding: 20px 24px;
border-left: 1px solid var(--portfolio-card);
border-bottom: 1px solid var(--portfolio-card);
border-right: 1px solid var(--portfolio-card);
}
.img-portfolio{
    display: block;
}
/* IMG */
img {
    display: block;
    width: 100%;
    height: auto;
}
/* portfolio card */
.prewiev{
    position: relative;
}
.prewiev-tittle{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    padding: 0;
    width: 100%;
    transition: height 250ms var(--animation-timing-function), padding 250ms var(--animation-timing-function);
    background-color: var(--portfolio-link);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
    opacity: 0;
   
}
.card:hover .prewiev-tittle,
.card:focus .prewiev-tittle{
    font-size: 16px;
        padding: 64px 24px;
        opacity: 1;
    }
    /* Backdrope */
                .backdrop {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(24, 140, 232, 0.5);
                }
        
                .backdrop.is-hidden {
                    opacity: 0;
                    pointer-events: none;
                }
        
                .modal {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    min-width: 528px;
                    min-height: 581px;
                    background-color: var(--white-color);
                    position: absolute;
                    color: var(--total-black);
        
                }

.icon-backdrope{
    display: block;
    width: 18px;
    height: 18px;
    fill: currentColor;
    
}
.backdrop .backdrope-button{
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    display:flex;
    color: var(--total-black);
    background-color: var(--white-color);
    border: 1px solid var(--button-backdrope);
    border-radius: 50%;
}